/**  DF9D5C                    */
:root {
    --textWhite: #f7f1f0;
    --imageFilterColor: #E65555;
    --imageFilterColorDark: #97493d;
    --butonColor: #AE5A62;
    --infoBackgroundColor:#12232B;
    --infoBackgroundColor3:#665F54;
    --infoBackgroundColor2:#AE5A62;
}

/** Row 1 */

.infoContainer {
    width:100%;
    overflow:hidden;
    margin:0;
    height:500px;
}

.infoContainerImg {
    display: block;
    max-width: 100%;
    height: auto;
    filter: var(--imageCoverFilter) !important; 
}

.ui .movieInfo {
    width: 100%;
    border: none;
    background: transparent;
    box-shadow: none;
    position: absolute;
    left: 30px;
    top: 90px!important;
}

.ui .movieInfoTitle{
    color:var(--textWhite);
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 900;
    font-size: 80px!important;
}

/** Tags */

.ui .movieInfoTag{
    color: var(--textWhite);
    border: 1px solid var(--textWhite);
    background: transparent;
    margin-bottom: 0!important;
    margin-left: 0!important;  
    margin-right: 10px!important;
    margin-top: 10px!important;
}

/** Rating Label */

.ui .statistic {
    float: left;
    font-family: var(--fontFamily)!important;
}

.ui .statisticBox {
    margin-left: 0 !important;
}

.ui .statistic .icon {
    font-size: 40px!important;  
}

.ui .statisticValue {
    font-size: 55px!important;
    padding-left: 5px;
}

.ui .statistic .label {
    font-size: 50px!important;
    margin-left: 5px!important;
}

/** Row 2*/

.ui .detailContainer {
    color: var(--textWhite);
    background:var(--infoBackgroundColor);
}

.ui .movieDetailTitle {
    color: var(--textWhite);
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 600;
    font-size: 25px!important;
}


.ui .movieDetailSynopsis {
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 400;
    font-size: 14px!important;

}

.ui .addWatclistButton{
    color:var(--textWhite);
    background: var(--butonColor)!important;
}

.ui .addWatclistButton:hover{
    color:var(--textWhite)!important;
    background: var(--imageFilterColorDark)!important;
}

/** Row 3*/

.ui .castContainer {
    color: var(--textWhite);
    background:var(--infoBackgroundColor2);
}

.ui .castTitle{
    color: var(--textWhite);
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 600;
    font-size: 20px!important;
}

.ui .imageContainer {
    color: var(--textWhite);
    background:var(--infoBackgroundColor3);
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

    /** Row 1 */

    .infoContainer {
        height: 250px;
    }
    
    .ui .movieInfo {
        top: 15px!important;
        left: 5px;
    }


    .ui .movieInfoTitle{
        font-size: 32px!important;
        margin: 5px !important;
    }

    /** Tags */

    .ui .movieInfoTag{
        font-size: 10px!important;
        margin-top: 20px!important;
    }

    /** Rating Label */

    .ui .statistic {
        float: left;
        padding: 0!important;
    }

    .ui .statisticGroup{
        margin: 0!important;
    }

    .ui .statisticBox {
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        vertical-align: bottom!important;
    }

    .ui .statistic .icon {
        font-size: 20px!important;    
    }

    .ui .statisticValue {
        font-size: 30px!important;
    }

    .ui .statistic .label {
        font-size: 25px!important;
    }

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 767px) and (max-width : 1023px) {

    /** Row 1 */

    .infoContainer {
        height: 350px;
    }

    .ui .movieInfo { 
        top: 30px!important;
        left: 5px;
    }

    .ui .movieInfoTitle{
        font-size: 60px!important;
        margin: 5px !important;
    }

    /** Rating Label */

    .ui .statistic {
        float: left;
        left: -20px;
        top: 40px;
        padding: 0!important;
    }

    .ui .statistic2Group{
        margin: 0!important;
    }

    .ui .statisticBox {

        margin-bottom: 0 !important;
        margin-right: 0 !important;
    }

    .ui .statistic .icon {
        font-size: 35px!important;    
    }

    .ui .statisticValue {
        font-size: 50px!important;
    }

    .ui .statistic .label {
        font-size: 35px!important;

    }
}