/**  DF9D5C                    */
:root {
    --textWhite: #f7f1f0;
    --imageFilterColor: #E65555;
    --imageFilterColorDark: #97493d;
    --butonColor: #AE5A62;
    --infoBackgroundColor:#12232B;
    --infoBackgroundColor3:#665F54;
    --infoBackgroundColor2:#AE5A62;
}

/** Row 1 */

.infoContainer {
    width:100%;
    overflow:hidden;
    margin:0;
    height:450px;
}

.infoContainerImg {
    display: block;
    max-width: 100%;
    height: auto;
    filter: var(--imageCoverFilter) !important; 
}

.ui .personInfo {
    width: 100%;
    border: none;
    background: transparent;
    box-shadow: none;
    position: absolute;
    left: 30px;
    top: 90px!important;
}

.ui .personInfoTitle{
    color:var(--textWhite);
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 900;
    font-size: 80px!important;
}


/** Rating Label */

.ui .statistic2 {
    float: left;
    font-family: var(--fontFamily)!important;
}

.ui .statistic2Box {
    margin-left: 0 !important;
}


.ui .statistic2Box:first-child {
    margin-bottom: 50px!important;
}

.ui .statistic2Box .label {
    padding-right: 30px!important;
    font-size: 20px!important;
}

.ui .statistic2Label {   
    line-height: normal!important;
}

.ui .statistic2Box .statistic2Value {
    padding-right: 20px!important;
    font-size: 70px!important;
}



/** Row 2*/

.ui .detailContainer {
    color: var(--textWhite);
    background:var(--infoBackgroundColor);
}

.ui .personDetailTitle {
    color: var(--textWhite);
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 600;
    font-size: 25px!important;
}


.ui .personDetailSynopsis {
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 400;
    font-size: 14px!important;

}

.ui .addWatclistButton{
    color:var(--textWhite);
    background: var(--butonColor)!important;
}

.ui .addWatclistButton:hover{
    color:var(--textWhite)!important;
    background: var(--imageFilterColorDark)!important;
}

/** Row 3*/

.ui .castContainer {
    color: var(--textWhite);
    background:var(--infoBackgroundColor2);
}

.ui .castTitle{
    color: var(--textWhite);
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 600;
    font-size: 20px!important;
}

.ui .imageContainer {
    color: var(--textWhite);
    background:var(--infoBackgroundColor3);
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

    /** Row 1 */

    .infoContainer {
        height: 250px;
    }

    /** Person Info */
    
    .ui .personInfo { 
        top: 15px!important;
        left: 5px;
    }

    .ui .personInfoTitle{
        font-size: 32px!important;
        margin: 5px !important;
    }


    /** Rating Label */

    .ui .statistic2 {
        float: left;
        padding: 0!important;
    }

    .ui .statistic2Group{
        margin: 0!important;
    }
    
    .ui .statistic2Box {
        
        padding-right: 0!important;

    }
    
    .ui .statistic2Box:first-child {
        margin-right: 25px!important;
        margin-bottom: 0 !important;
    }    
    
    .ui .statistic2Box .label {
        font-size: 13px!important;
        margin-left: 0!important;
        padding-right: 15px!important;
    }  
    
    .ui .statistic2Box .statistic2Value {
        font-size: 45px!important;
        padding-right: 0!important;
    }
               
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 767px) and (max-width : 1023px) {  

    /** Row 1 */

    .infoContainer {
        height: 350px;
    }

    /** Person Info */
    
    .ui .personInfo { 
        top: 30px!important;
        left: 5px;
    }

    .ui .personInfoTitle{
        font-size: 60px!important;
        margin: 5px !important;
    }


    /** Rating Label */

    .ui .statistic2 {

        left: -20px;
        top: 30px;
        float: left;
        padding: 0!important;
    }

    .ui .statistic2Group{
        margin: 0!important;
    }
    
    .ui .statistic2Box {
        margin-right: 0 !important;

    }
    
    .ui .statistic2Box:first-child {
        margin-bottom: 40px!important;
    }
    
    
    .ui .statistic2 .label {
        padding-right: 20px!important;
        font-size: 16px!important;
    }
    
    .ui .statistic2Label {   
        line-height: normal!important;
    }
    
    .ui .statistic2Box .statistic2Value {
        font-size: 50px!important;
        padding-right: 0 !important;
    }
    


}