/* Header foote css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

.ui {
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 992px) and (max-width: 1440px) {
  div.ui.text.container {
    max-width: 1225px !important;
  }

  div.ui.text.grid.container {
    width: calc( 1225px  +  2rem ) !important;
  }

  div.ui.text.relaxed.grid.container {
    width: calc( 1225px  +  3rem ) !important;
  }

  div.ui.text.ery.relaxed.grid.container {
    width: calc( 1225px  +  5rem ) !important;
  }
}

/*
div.ui.text.container {
  max-width: 1225px !important;
}*/